@model ClinicManagementMVC.ViewModels.CreatePatientHealthPlanViewModel;

@{
    ViewData["Title"] = "Adicionar novo vínculo";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">

    <div class="form-group">
        <label asp-for="CreatePatientHealthPlanRequest.PatientId" class="control-label">Paciente</label>
        <select asp-for="CreatePatientHealthPlanRequest.PatientId" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            @foreach (var item in Model.Patients)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="CreatePatientHealthPlanRequest.PatientId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatePatientHealthPlanRequest.HealthPlanId" class="control-label">Paciente</label>
        <select asp-for="CreatePatientHealthPlanRequest.HealthPlanId" class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            @foreach (var item in Model.HealthPlans)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="CreatePatientHealthPlanRequest.HealthPlanId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>