@model ClinicManagementMVC.ViewModels.HealthPlanDetailedViewModel;

@{
    ViewData["Title"] = "Plano de Saúde";
}

<h1>@Model.HealthPlan.Name</h1>

<div class="container">
    <div class="row d-flex align-content-center">
        <ul class="list-group col">
            <li class="list-group-item">
                <h5>Código do Plano</h5>
                <p>@Model.HealthPlan.PlanCode</p>
            </li>
            <li class="list-group-item">
                <h5>Cobertura</h5>
                <p>@Model.HealthPlan.Coverage</p>
            </li>
        </ul>
    </div>
    <div class="row">
        <h2 class="mt-3">Pacientes Associados</h2>
        <p>
            <a href="@Url.Action("Create", "Patient")" class="btn btn-primary">Adicionar Novo Paciente</a>
        </p>

        @if (Model.Patients != null && Model.Patients.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Patients)
                    {
                        <tr>
                            <td>@item.Patient.Id</td>
                            <td>@item.Patient.Name</td>
                            <td>@item.Patient.DateOfBirth</td>
                            <td>@item.Patient.Cpf</td>
                            <td>@item.Patient.Phone</td>
                            <td>
                               @*  <a href="@Url.Action("Edit", "Patients", new { id = patient.Id })" class="btn btn-warning">Editar</a>
                                <a href="@Url.Action("Delete", "Patient", new { id = patient.Id })" method="delete" class="btn btn-danger">Excluir</a>
                                <a href="@Url.Action("Detail", "Patient", new { id = patient.Id })" class="btn btn-info">Ver Mais</a> *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Nenhum paciente associado a esse plano de saúde.</p>
        }
    </div>
</div>